#loginContainer {
  background-image: url(../../images/fondoLogin.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#login {
  width: 450px;
  height: auto;
  background-color: #ffff;
  border-radius: 20px;
  padding: 50px;
}

#btnIngresar {
  background: #fac52a;
  font-size: 20px;
}
#btnInicio {
  background: #00012d;
  color: #ffff;
  font-size: 20px;
}
#enlaceRegistrate {
  color: #0025ca !important;
  cursor: pointer;
}
